* {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

/* HERO SECTION */
.main-container, .logo {
    display: flex;
}

.hero {
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.logo {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffff;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
    width:40vw;
    gap: 0.5em;
}

.logo-img {
    width: 8vw;
}

.logo-title {
    font-family: 'Norse', sans-serif;
    font-weight: 700;
    font-size: 7.5rem;
    text-transform: uppercase;
}

.attribution, .attribution a {
    color: white;
    text-align: right;
}

.attribution{
    position: relative;
    text-align: right;
    right: 1vw;
    top: 75vh;
}


/* CONTENT SECTION */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
 
.header, .submit{
    margin: 1em 0;
}

.header h2, .header span, .form-container h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.header span {
    font-style: italic;
}

.header {
    margin-right: 5em;
} 

.header, .submit {
    padding: 03em;
}

.submit h3, .submit a {
    font-size: 1.25rem;
    font-weight: 400;
 }

.submit button {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 1px rgb(40, 58, 9);
    background-color: #596d48;
    color: #ffff;
    padding: 1em 3em;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

.submit a {
    color: #596d48;
    font-weight: 700;
    text-decoration: none;
}

/* FORM SECTION */

.form-container {
    box-shadow: -1px 4px 5px 1px grey;
    padding: 0 3em;
}

.form-text, .login-text {
    padding: 1em 0;
}

.form-inner-container {
    display: flex;
    flex-wrap: wrap;
}

.form-inner-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0em 5em 2em 0em;
}

.form-inner-container label, .form-inner-container input {
    width: 100%;
}


label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

input {
    border: 2px #E5E7EB solid;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    font-weight: 600;
    font-size: 1.1rem;
}

input, input:focus {
    outline: none;
}

input:focus {
    border-color: rgb(7, 150, 240);
}